<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="text" content="">
    <meta name="author" content="Otto Schuldt">
    <title>App to Sign PDFs</title>
    <link rel="shortcut icon" href="/style/images/favicon.png">
</head>
<body>

<div style="top: 50%; left: 50%">
    <h2>Sign PDF</h2>
    <form action="/" method="post">
        <label style="color: #0f3e68">Upload the pdf file you want to sign off:</label>
        <br><br>
        <input type="file" name="nf">
        <br><br>
        <button type="submit">Upload</button>
    </form>
</div>

</body>
</html>