<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="text" content="">
    <meta name="author" content="Otto Schuldt">
    <title>App to Sign PDFs</title>
    <link rel="shortcut icon" href="/style/images/favicon.png">
    <style>
        .centered {
            position: fixed;
            top: 20%;
            left: 50%;
            /* bring your own prefixes */
            transform: translate(-50%, -50%);
            background-color: #e3e3e3;
        }
        .centered * {
            padding: 5px 10px;
        }
    </style>
</head>
<body>

<div class="centered">
    <h2>Sign PDF</h2>
    <p id="error" style="color: red"></p>
    <form action="/" method="post" enctype="multipart/form-data">
        <label style="color: #0f3e68" for="pdf_file">Upload the pdf file you want to sign:</label>
        <br>
        <input id="pdf_file" type="file" name="nf">
        <br><br>
        <label style="color: #0f3e68" for="js_date">
            Pick up the date (If no date is picked up we will use today's date)
        </label>
        <br>
        <input type="date" id="js_date">
        <br><br>
        <button type="button" onclick="return handleUpload(event)">Upload</button>
        <a hidden tabindex="-1" id="js_download_anchor" href="/download-signed-pdf" download="signed.pdf"></a>
    </form>
</div>

<script>
    function handleUpload(e) {
        e.preventDefault();
        let file = document.getElementById("pdf_file").files[0];
        let date = document.getElementById("js_date").value;
        let xhr = new XMLHttpRequest();
        let formData = new FormData();

        // disable button
        e.target.disabled = true;

        // handle response
        xhr.onreadystatechange = function () {
            if(xhr.readyState === XMLHttpRequest.DONE){
                if (xhr.status === 200){
                    console.log("success!");
                    document.getElementById("error").innerHTML = null;
                    document.getElementById("js_download_anchor").click();  // download signed pdf
                }else if (xhr.status === 403){
                    document.getElementById("error").innerHTML = xhr.responseText;
                }else {
                  alert("An error occurred.")
                }
            }
            // enable button again
            e.target.disabled = false;
            // remove file
            document.getElementById("pdf_file").value = null;
        };

        formData.append("nf", file);
        formData.append("date", date);
        xhr.open("POST", '/');
        xhr.send(formData)
    }

</script>

</body>
</html>